@import "var/index.scss";

html {
  -webkit-box-sizing: border-box;
       box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
      box-sizing: inherit;
}

body { 
  background-color: $black-color;
}

button, button:active, button:focus {
  border: none;
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

a {
  text-decoration: none;
}