$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 700;
$font-weight-bold: 900;

$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-s: 16px;
$font-size-m1: 20px;
$font-size-m2: 22px;
$font-size-m3: 24px;
$font-size-l: 36px;
$font-size-xl: 72px;

@mixin font-normal-xxs {
  font-size: $font-size-xxs;
  font-weight: $font-weight-normal;
}

@mixin font-normal-xs {
  font-size: $font-size-xs;
  font-weight: $font-weight-normal;
}

@mixin font-semi-bold-xs {
  font-size: $font-size-xs;
  font-weight: $font-weight-semi-bold;
}

@mixin font-normal-s {
  font-size: $font-size-s;
  font-weight: $font-weight-normal;
  line-height: 1.6;
}

@mixin font-bold-s {
  font-size: $font-size-s;
  font-weight: $font-weight-bold;
}

@mixin font-normal-m1 {
  font-size: $font-size-m1;
  font-weight: $font-weight-normal;
}

@mixin font-normal-m2 {
  font-size: $font-size-m2;
  font-weight: $font-weight-normal;
  line-height: 1.6;
}

@mixin font-normal-m3 {
  font-size: $font-size-m3;
  font-weight: $font-weight-normal;
}

@mixin font-semi-bold-l {
  font-size: $font-size-l;
  font-weight: $font-weight-semi-bold;
}

@mixin font-bold-l {
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
}

@mixin font-semi-bold-xl {
  font-size: $font-size-xl;
  font-weight: $font-weight-semi-bold;
}